<!DOCTYPE html>
<html>
    <head>
        <title>MyHomeWork</title>
                @RenderSection("head", required: false)
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="Index">我的記帳本</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="Index">首頁</a>
                        <li><a href="About">關於</a>
                        <li>
                            <a href="Contact">連絡方式</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         @RenderBody()
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </body>
</html>
